.container {
    display: flex;
    background-color: white;
    align-items: center;
    flex: 1;
    padding-top: 50;
    flex-direction: column;
    gap: 20;
}

.title {
    font-size: 50;
    font-weight: bold;
}

.journalEntries {
    display: flex;
    flex-direction: column;
    gap: 15;
}

.journalNameInput {
    width: 350;
    padding: 20;
    font-size: 18;
    border-radius: 15;
    border-color: gray;
    border-style: solid;
    border-width: 2;
}

.journalContentInput {
    width: 350;
    padding: 20;
    font-size: 18;
    border-radius: 15;
    border-color: gray;
    border-style: solid;
    border-width: 2;
}

.loadingContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.addJournalButton {
    width: 200;
    padding: 20;
    font-size: 18;
    border-radius: 25;
    border-color: gray;
    border-style: solid;
    border-width: 2;
}

.errorText {
    color: red;
    font-size: 18;
}

.prevEntriesText {
    margin-top: 50;
    font-size: 30;
}

.journalName {
    font-weight: bold;
    font-size: 22;
}

.journalContent {
    font-size: 16;
}

.journalEntry {
    border-radius: 15;
    border-color: gray;
    border-style: solid;
    border-width: 2;
    padding: 20;
    width: 350;
}

.journalDate {
    font-size: 20;
}